<div class="logincontainer">
    <form>
        <div class="sm-3">
          <label for="" class="form-label">Name</label>
          <input type="" class="form-control" id="">
        </div>
        <div class="sm-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" id="">
        </div>
        <div class="sm-3">
            <label for="" class="form-label">Email</label>
            <input type="password" class="form-control" id="">
          </div>
          <div class="form-label"><a routerLink="/login">Login page</a></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>